:root {
  --primary-color: #333333;
  --highlight-color: #0275D8;
  --dark-color: #18486C;
  --light-color: #999999;
}

.App {
  width: 90%;
  margin: 1em auto;
  color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: 
    "i i i i i i i i i i i i"
    "p p p p p p p p p p p p"
    "p p p p p p p p p p p p";
}

.userinfo {
  background-color: white;
  margin-bottom: 1em;
  border-radius: 5px;
  grid-area: i;
}

.avatar img {
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid var(--highlight-color);
}

.info {
  padding: 0 1em .5em;
}

.info h1 {
  font-size: 2.6em;
  margin: 0;
}

.info h2 {
  font-weight: 400;
  font-size: 1.2em;
  margin: 0 0 1em;
}

.info h2 a {
  color: var(--highlight-color);
  text-decoration: none;
}

.info h3,
.info h4 {
  color: var(--light-color);
  font-weight: 400;
}

.projects {
  grid-area: p;
}

.projects ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.project {
  margin-bottom: 2em;
  background-color: white;
  border-radius: 5px;
}

.project h2 {
  padding: 1em 1em .5em;
  margin: 0 0 .5em;
}

.project .description {
  padding: .5em 1em 2em;
}


.button {
  display: inline-block;
  width: 80px;
  margin: 0 .5em 0 0;
  padding: .5em;
  color: var(--highlight-color);
  border: 2px solid var(--highlight-color);
  border-radius: 5px;
  text-align: center;
  transition: all 500ms ease;
  text-decoration: none;
}

.button:hover {
  color: white;
  background-color: var(--highlight-color)
}

@media all and (min-width: 700px) {
  .App {
    margin: 2em auto;
    grid-gap: 2em;
    grid-template-areas: 
    "i i i p p p p p p p p p"
    "o o o p p p p p p p p p"
    "o o o p p p p p p p p p";
  }
}